<ion-content class="Cuerpo">

<!-- Contenedor 1 -->
<ion-card class="cabecera">
  <ion-card class="NavIz">
    <ion-card-content>
      <img src="../../assets/Logo.png">
    </ion-card-content>
  </ion-card>

  <ion-card class="NavDer">
    <ion-card class="DerArb">
      <ion-card-content>
        <img src="../../assets/streamline_money-cash-dollar-coin-accounting-billing-payment-cash-coin-currency-money-finance.png">
        <img src="../../assets/Vector (1).png">
        <img src="../../assets/Vector.png">
        <img src="../../assets/Group.png">
      </ion-card-content>
    </ion-card>
  </ion-card>



</ion-card>
<!-- Contenedor 2 -->
<ion-card class="Actualizacion">
  <ion-card class="ActIz">
    <ion-card-content>
      <img src="../../assets/streamline_interface-arrows-synchronize-arrows-loading-load-sync-synchronize-arrow-reload.png">
    </ion-card-content>
  </ion-card>

  <ion-card class="ActDer">
      <ion-text>
        ACTUALIZACION : 06/10/23 A LAS 15:40
      </ion-text>
  </ion-card>


</ion-card>

<!-- Contenedor 3 -->
<ion-card class="INFODATOS">
  <ion-card class="LogoInter">
    <ion-card-content>
      <img src="../../assets/Vector4.png">
    </ion-card-content>
</ion-card>
</ion-card>


<!-- Contenedor 4 -->
<ion-card class="Boton">
  <ion-card-content>
    <ion-button color="danger" (click)="godenuevo()">ACTIVAR PAQUETES</ion-button>
  </ion-card-content>
</ion-card>

<!-- Contenedor 5 -->
<ion-card class="Num">
  <ion-card-content>
    <img src="../../assets/clarpiov4.png">
  </ion-card-content>
</ion-card>

<!-- Contenedor 6 -->
<ion-card class="Otros">
  <ion-card-content>
    <img src="../../assets/clarov5.png">
  </ion-card-content>
</ion-card>

</ion-content>
